@import "~office-ui-fabric-react/dist/sass/References.scss";

.ReactScrollCalendar {
  $BlueDark-2: #40434a;
  $BlueDark-1: #343d56;
  $BlueDark: #1b2952;
  $BlueDark1: #1b2952;
  $BlueDark2: #1b2952;
  $Blue-2: #204d6c;
  $Blue-1: #2c6992;
  $Blue: #3681b5;
  $Blue1: #afcde1;
  $Blue2: #d7e6f0;
  $Orange: #ff6a13;
  $Orange1: #ffc3a1;
  $Orange2: #ffe1d0;
  $Grey-1: #bfb7af;
  $Grey: #d7d2cb;
  $Grey1: #efedea;
  $Grey2: #f7f6f5;
  $Red: #e03c03;
  $Yellow: #ffb42f;
  $SeaGreen: #01bcb8;
  $Green: #8ac552;
  $BlueIce: #97caeb;

  box-sizing: border-box;
  display: flex;

  .calendarContaner {
    width: 100%;
    box-sizing: border-box;
    // position: absolute;

    .navigationheader {
      box-sizing: border-box;
      height: 27px;
      // background-color: $Blue1;

      ul {
        display: flex;
        padding: 2px 0 4px 0;
        margin: 0px;
      }

      li {
        flex: 0 0 8%;
        list-style-type: none;
        text-align: center;
        border-right: 1px solid $Grey-1;

        .monthname {
          color: $BlueDark-2;
          font-weight: 500;
          font-size: 0.8rem;
          border-bottom: 3px solid white;
          height: 1rem;
        }
        .activemonthname {
          border-bottom: 3px solid $Orange;
          color: $Orange;
          font-weight: 700;
          font-size: 1rem;
          background-color: $Blue2;
          padding: 0 10px;
        }
      }
    }
    .calendarheader {
      display: grid;
      grid-template-columns: repeat(7, 14.25%);
      box-sizing: border-box;
      background-color: $Blue;
      padding: 4px 0px;
      margin: 0px 16px 0 0;
      color: white;
      font-weight: 500;
      text-align: center;
      font-size: 1rem;

      .dayname {
        border-right: 2px solid #ffffff;
      }
    }

    .calendarScrollContainer {
      width: 100%;
      height: 800px;
      overflow-y: scroll;
      overflow-x: hidden;
    }

    .daysContainer {
      display: grid;
      grid-template-columns: repeat(7, 14.25%);
      grid-template-rows: repeat(106, 150px);
      box-sizing: border-box;

      .day {
        box-sizing: border-box;
        border-left: 0px solid $Grey-1;
        display: table-cell;
        position: relative;

        h5 {
          background-color: $Blue1;
          color:$BlueDark-1;
          margin: 0px;
          text-align: center;
          font-size: 0.9rem;
          padding: 3px;
          box-sizing: border-box;
          border-right: 1px solid $Grey-1;
        }

        .placeholder {
          background-color: #97caeb85;
          height: 100%;
        }

        .event {
          height: 27px;
          width: 100%;
          position: absolute;
          box-sizing: border-box;

          .line {
            height: 6px;
            background-color: $SeaGreen;
            margin: 10px 12% 0 0;
            position: relative;
          }

          .linefull {
            height: 6px;
            background-color: $SeaGreen;
            margin: 10px 0 0 0;
            position: relative;
          }

          .first {
            border: 2px solid $SeaGreen;
            background-color: $Grey1;
            color: $SeaGreen;
            position: absolute;
            width: 65px;
            height: 100%;
            top: 0;
            font-weight: 700;
            padding: 3px 0px;
            box-sizing: border-box;
            border-radius: 10px;
            text-align: center;
          }
          .end {
            background-color: $SeaGreen;
            position: absolute;
            width: 4px;
            height: 70%;
            top: 3px;
            margin-left: 87%;
            box-sizing: border-box;
          }
        }

        .event[data-row="0"] {
          margin-top: 5px;
        }
        .event[data-row="1"] {
          margin-top: 35px;
        }
        .event[data-row="2"] {
          margin-top: 65px;
        }
        .event[data-row="3"] {
          margin-top: 90px;
        }
      }

      .day:first-child {
        grid-column: 5;
      }

      .day[data-month="1"] h5,
      .day[data-month="3"] h5,
      .day[data-month="5"] h5,
      .day[data-month="7"] h5,
      .day[data-month="9"] h5,
      .day[data-month="11"] h5 {
        background-color: $Blue2;
        color: $BlueDark-2;
      }

      .day[id*="d0"],
      .day[id*="d6"] {
        background-color: $Grey1;
      }
      .overlay {
        background-color: $Grey;
        div {
          width: 100%;
          text-align: center;
          padding-top: 40px;
          position: absolute;
        }
      }
    }
  }
}

:global {
  #fixed {
    position: absolute;
    top: 1000px;
    left: 200px;
    height: 30px;
    background-color: #8ac552;
  }
}
